<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="" alt="">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>My name is En hao Huang</p>
    <p>My student id is 209410199</p>
  </body>
</html>
